[user]
    name = Andrea Cardaci
    email = cyrus.and@gmail.com
[color]
    ui = auto
[alias]
    g = grep -i -n
    a = add
    au = add -u
    ap = add -p
    c = commit -v
    ca = commit --amend
    d = diff
    dw = diff --word-diff
    dc = diff --cached
    r = reset
    l = log --branches --remotes --tags --graph --oneline --decorate --notes HEAD
    s = status -s
    cp = commit --allow-empty-message -m ''
    todo = grep -n TODO
    xxx = grep -n XXX
    subst = !sh -c 'git ls-files "$3" | xargs sed -i -e \"s/$1/$2/g\"' --
[push]
    default = simple
