! -*- compile-command: "xrdb -load ~/.Xresources" -*-

!!!!!!!!
! rofi !
!!!!!!!!

! settings
rofi.bw: 5
rofi.font: Terminus 8
rofi.color-enabled: true

! colors           bg      fg      bgalt   hlbg    hlfg
rofi.color-normal: #000000,#cccccc,#000000,#000000,#ff6000
rofi.color-urgent: #ffffff,#ffffff,#ffffff,#ffffff,#ffffff
rofi.color-active: #cccccc,#000000,#cccccc,#ff6000,#000000

! colors           bg      border
rofi.color-window: #000000,#111111

!!!!!!!!!
! urxvt !
!!!!!!!!!

! settings
Rxvt*termName: xterm-256color
Rxvt*scrollBar: false
Rxvt*font: xft:Hack:size=12
Rxvt*internalBorder: 6
Rxvt*geometry: 80x30
Rxvt*saveLines: 65535
Rxvt*scrollTtyKeypress: true
Rxvt*perl-ext-common:
Rxvt*perl-ext:
Rxvt*pastableTabs: false
Rxvt*iso14755: false
Rxvt*iso14755_52: false

! base colors
*background: #000000
*foreground: #cccccc

! palette (from colors.html 0.4 - 0.8)
*color0: #000000
*color1: #ff4200
*color2: #00ff00
*color3: #ffd100
*color4: #0074ff
*color5: #ff29ff
*color6: #00ffff
*color7: #cccccc
*color8: #666666
*color9: #ff4200
*color10: #00ff00
*color11: #ffd100
*color12: #0074ff
*color13: #ff29ff
*color14: #00ffff
*color15: #ffffff

! font styles
*colorBD: #ffffff
*colorUL: #00ff00

!!!!!!!!!
! emacs !
!!!!!!!!!

! GUI settings
emacs.font: Hack-12
emacs.menuBar: off
emacs.toolBar: off
emacs.verticalScrollBars: off
emacs.background: #000000

! lucid widgets
emacs.menu*.font: Terminus-10
