! -*- compile-command: "xrdb -load ~/.Xresources" -*-

!!!!!!!!
! rofi !
!!!!!!!!

! settings
rofi.bw: 5
rofi.font: Terminus 8
rofi.color-enabled: true

! colors           bg      fg      bgalt   hlbg    hlfg
rofi.color-normal: #000000,#cccccc,#000000,#000000,#ff6000
rofi.color-urgent: #ffffff,#ffffff,#ffffff,#ffffff,#ffffff
rofi.color-active: #cccccc,#000000,#cccccc,#ff6000,#000000

! colors           bg      border  separator
rofi.color-window: #000000,#111111,#111111

!!!!!!!!!
! urxvt !
!!!!!!!!!

! settings
Rxvt*termName: xterm-256color
Rxvt*scrollBar: false
Rxvt*font: xft:Iosevka:size=14
Rxvt*geometry: 80x30
Rxvt*saveLines: 65535
Rxvt*scrollTtyKeypress: true
Rxvt*perl-ext-common:
Rxvt*perl-ext:
Rxvt*pastableTabs: false
Rxvt*iso14755: false
Rxvt*iso14755_52: false

! base colors
*background: #000000
*foreground: #cccccc

! font styles
*colorBD: #ffffff
*colorUL: #ff6000

! Local Variables:
! eval: (rainbow-mode)
! End:
