! -*- compile-command: "xrdb -load ~/.Xresources" -*-

!!!!!!!!
! rofi !
!!!!!!!!

! settings
rofi.bw: 5
rofi.font: Terminus 8
rofi.color-enabled: true

! colors           bg      fg      bgalt   hlbg    hlfg
rofi.color-normal: #000000,#cccccc,#000000,#000000,#ff6000
rofi.color-urgent: #ffffff,#ffffff,#ffffff,#ffffff,#ffffff
rofi.color-active: #cccccc,#000000,#cccccc,#ff6000,#000000

! colors           bg      border  separator
rofi.color-window: #000000,#111111,#111111

!!!!!!!!!
! urxvt !
!!!!!!!!!

! settings
URxvt.termName: xterm-256color
URxvt.scrollBar: false
URxvt.font: xft:Terminus:size=14
!URxvt.font: xft:Iosevka SS04:size=14
URxvt.geometry: 80x30
URxvt.saveLines: 65535
URxvt.scrollTtyKeypress: true
URxvt.perl-ext-common:
URxvt.perl-ext:
URxvt.pastableTabs: false
URxvt.iso14755: false
URxvt.iso14755_52: false

! base colors
URxvt.background: #000000
URxvt.foreground: #aaaaaa

! font styles
URxvt.colorBD: #ffffff
URxvt.colorUL: #ff6000

! based on https://github.com/jan-warchol/selenized/blob/master/xterm/selenized-black.xdefaults
! but with color0 to pure black (was rgb:25/25/25)
URxvt.color0:      rgb:00/00/00
URxvt.color1:      rgb:ed/4a/46
URxvt.color2:      rgb:70/b4/33
URxvt.color3:      rgb:db/b3/2d
URxvt.color4:      rgb:36/8a/eb
URxvt.color5:      rgb:eb/6e/b7
URxvt.color6:      rgb:3f/c5/b7
URxvt.color7:      rgb:77/77/77
URxvt.color8:      rgb:3b/3b/3b
URxvt.color9:      rgb:ff/5e/56
URxvt.color10:     rgb:83/c7/46
URxvt.color11:     rgb:ef/c5/41
URxvt.color12:     rgb:4f/9c/fe
URxvt.color13:     rgb:ff/81/ca
URxvt.color14:     rgb:56/d8/c9
URxvt.color15:     rgb:de/de/de

! Local Variables:
! eval: (rainbow-mode)
! End:
