$include /etc/inputrc

set menu-complete-display-prefix on
set mark-symlinked-directories on
set show-all-if-ambiguous on

# Ctrl-*
"\eOa": history-search-backward
"\eOb": history-search-forward

# Ctrl-* (tmux)
"\eOA": history-search-backward
"\eOB": history-search-forward

# Pag-* (macOS)
"\e[5~": history-search-backward
"\e[6~": history-search-forward
